.no-select() {
  user-select: none;
}

.dim(@width: auto; @height: auto) {
  width: @width;
  height: @height;
}

.content(@content: "") {
  content: @content;
}

.radius(@radius) {
  border-radius: @radius;
}

.round() {
  .radius(100%);
}

.pointer() {
  cursor: pointer;
}

.in-line() {
  white-space: nowrap;
}

.box(@margins: auto; @paddings: auto) {
  margin: @margins;
  padding: @paddings;
}

.transparent() {
  opacity: 0;
}

.opaque() {
  opacity: 1;
}

.no-overflow() {
  overflow: hidden;
}

.cover() {
  .content;
  .bg-transparent;
  .absolute(0; 0; 0; 0; 100);
}

.no-backface() {
  backface-visibility: hidden;
}
