.controls {
  .table-cell;
  .radius(1vmin);
  padding: 1vmin;
  margin-top: 2vmin;
  border: 1px solid #ddd;
}

.letters-container {
  .dim(20vmin);
}

.letters.screen::before {
  .content;
  .absolute(0; 0; 0; 0; 1);
  .bg-transparent;
}

.letters {
  .relative;
  .inline-block;
  
  .letter-control {
    .dim(5vmin; 6vmin);
    .align-center;
    .uppercase;
    .pointer;
    float: left;
    line-height: 6vmin;
    font-size: 3vmin;
    color: #444;
    transition: color linear 0.3s;
    
    &:hover {
      .radius(1vmin);
      background-color: #ddd;
    }
    
    &.picked {
      color: #aaa;
      pointer-events: none;
    }
    
    &:nth-of-type(4n + 1) {
      clear: left;
    }
  }
}

.label {
  .align-center;
  font-size: 1.8vmin;
  color: #777;
  margin-bottom: 0.5vmin;
}

button {
  .dim(100%);
  .pointer;
  .radius(0.5vmin);
  .uppercase;
  outline: 0;
  padding: 1.5vmin;
  font: bold 2vmin/1 'Open Sans', sans-serif;
  letter-spacing: 0.1vmin;
  border: 1px solid #ccc;
  background-color: #eee;
  color: #333;
  margin-top: 2vmin;
  
  &:hover {
    background-color: #ccc;
    border-color: #aaa;
    color: #111;
  }
  
  &:active {
    background-color: #aaa;
    color: #000;
  }
}
